
@media print {
	footer, aside, img, .nav_links_right, .imgbanner, .filterProJobs, .linkabout {
		display: none !important;
	}
	.nav_links a {
		display: none;
	}	
	.userlog{
		visibility: hidden;
	}
	.logo{
		margin-left: 35%;
	}
	/* INDEX */
	.jobs_tabule {
		width: 98%;
	}
	/* BLOG */
	.postBlog{
		max-width: 300px;
		max-height: 300px;
	}
	.nameBlog{
		max-width: 250px;
	}
	.imgBlog{
		max-width: 255px;
		max-height: 190px;
	}
	/* LOGIN */
	.container{
		box-shadow: 0;
		max-width: 500px;
	}
	.loginForm, .regForm{
		min-width: 100%;
	}
	.actual{
		max-height: 40px;
	}
	/* AD */
	.inzerat_jobs{
		min-width: 97%;
		box-shadow: 0 0 0 white;
	}
	.inzerat_jobs .textinzerat{
		font-size: 18px;
	}
	/* POST A JOB */
	.containerJobs{
		max-width: 710px;
	}
	.jobsNapdis{
		max-width: 710px;
	}
	/* POST NEWS */
	.containernews{
		max-width: 710px;
	}
	.newsNapdis{
		max-width: 710px;
	}
	/* FAQ */
	ol li{
		page-break-after:always !important; 
		font-size: 16px !important;
	}
	.faqnadpis{
		font-size: 25px !important;
	}
	.afaq{
		font-size: 14px !important;
	}
	.faqtext{
		font-size: 18px !important;
	}


}
/* STYLES */
/* GENERAL */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

}

::-webkit-scrollbar { 
    width: 0px;  
    background: transparent;  
}


html{
	height: 100%;
	width: 100%;
	-ms-overflow-style: none;  
    scrollbar-width: none;
}
body{
	width: 100%;
	height: 100%;
	background: linear-gradient(180deg, rgba(67,83,255,.05), rgba(67,83,255,.05));
	display: flex;
	flex-direction: column;
	font-family: Inter, "Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
}
main {
	flex-grow: 1;
}
/* NAVIGACE */
.nav_links li, a{
	font-family:'Times New Roman', Times, serif;
	font-size: 18px;
	font-weight: lighter;
	text-decoration: none;
	color: rgb(75, 71, 71);
	font-weight: 500;
}
.imgbanner {
	height: 170px;
	width: 100%;
	display: flex;
	justify-content: space-around;
	background-color: #FF592A;
}
header{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 30px 10%;
	height: 60px;
	background: white;
	border-bottom: 0.5px solid black;
}
nav {
	width: 50%;
}
.nav_links{
	list-style: none;
	flex-basis: 60%;
	text-align: center	;
}
.nav_links li {
	display: inline-block;
	padding: 0px 20px;
}

.nav_links li a{
	transition: all 0.3s ease 0s;
}

.hidden {
	display: block;	
	flex-basis: 17%;
	right: 0;
	font-family: Inter, "Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
	font-size: 18px;
	border-bottom: 1px solid #ffffff;
	margin-top: 0.3%;
}
.userlog {
	display: flex;	
	font-family: Inter, "Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
	font-size: 18px;
	text-align: center;
	flex-wrap: nowrap;
	margin-left: 4%;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.dotUserNav{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-basis: 20%;
	flex-wrap: nowrap;
}
.nav_links li a:hover{
	color: #FF592A;
	border-radius: 4px/4px;
}

.logo{
	font-family: fantasy;
	font-weight: bolder;
	color: #FF592A;
	font-size: 40px;
	font-style: oblique;
	margin-right: 11%;
}

.nav_links_right {
	border: 2px solid #FF592A;
	color: #FF592A;
	background-color: white;
	padding: 5px 25px;
	border-radius: 10px/10px;	
	cursor: pointer;
	font-size: 15px;
	font-weight: bold;
	font-family: Inter, "Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
	transition: all 0.3s ease 0s;

}

.nav_links_right:hover {
	color: white;
	background-color: #FF592A;

}
/* FOOTER */
footer {
	display: flex;
	flex-direction: column;
	background-color:#FF592A;
	font-size: 15px;
	color: white;
	text-decoration: none;
	font-family: Inter, "Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
}
.logofooter {
	font-family: fantasy;
	font-weight: bolder;
	color: #ffffff;
	font-size: 40px;
	width: all;
	font-style: oblique;
	margin-left: 9%;
	margin-top: 1%;
}
.footer_links li a,p {
	color: white;
}
.footer_links2 li a{
	color: white;
}
.quicklinks{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	font-weight: bolder;
	border-bottom: 2px solid white;
}
.copyright{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 35px;
	background-color: #837e78;
}

h2 {
	margin: -7% 0 0 40%;
	font-family: Inter, "Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
	color: white;
}
.footer_links{
	margin-left: 5%;
	margin-right: 10%;
}

.footer_links li{
	list-style: none;
	margin: 10px;
}
.footer_links2 li{
	list-style: none;
	margin: 10px;
}

.linksdolu {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	border-bottom: 3px solid #ffffff;
	border-top: 3px solid white;
	padding-bottom: 2%;
	padding-top: 2%;
}

/* INDEX.PHP STYLE */
/* ASIDE NOVINKY INDEX */
.blogAside {
	position: relative;
	float: right;
	margin: 5% 1.4% 0 1.4%;
	width: 25%;
	list-style: none;
	box-shadow: 1px 1px 3px 1px  rgb(139, 139, 139);
	margin-bottom: 10%;

}
/* SORT */
/* FILTER */
.filterProJobs{
	margin-top: 5%;
	margin-left: 1.4%;
	margin-bottom: 1%;
	display: flex;
	flex-direction: row;
	box-shadow: 1px 1px 3px 1px  rgb(139, 139, 139);
	background-color: white;
	justify-content: space-around;
	align-items: center;
}
.jobsFilter{
	height: 50px;
	display: flex;
	align-items: center;

}
.inputFilter{
	margin-left: 5%;
	padding: 5px;

}

.jobsFilterSubmit{
	height: 50px;
	width: 10%;
	display: flex;
	align-items: center;

}

.filterSubmit{
	padding: 5px;
	width: 100%;
	border: 2px solid #FF592A;
	color: #FF592A;
	background-color: white;
	border-radius: 10px/10px;	
	cursor: pointer;
	font-size: 15px;
	font-weight: bold;
	font-family: Inter, "Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
	transition: all 0.3s ease 0s;
}
.filterSubmit:hover{
	color: white;
	background-color: #FF592A;

}
.failFilter{
	margin-left: 5%;
	padding: 5px;
	border: 2px solid #ff3a3a;
}


.novinky {
	position: relative;
	list-style: none;
	font-family: Inter, "Helvetica Neue",Helvetica,Arial,Verdana,sans-serif; ;
	resize: none;

}
#LatestBlogPosts {
	font-size: 20px;
	font-family: Inter, "Helvetica Neue",Helvetica,Arial,Verdana,sans-serif; ;
	font-weight: bolder;
	text-align: center;
	margin-top: 8%;
	margin-bottom: 20px;
	width: 100%;
	background-color: #FF592A;
	color: #ffffff;
	padding: 6px;
}
.novinky .zprava {
	position: relative;
	margin: 0 4% 0 4% ;
	resize: none;
}
.zprava .obrazek {	
	border: 2px solid black;
	border-radius: 10%;
	width: 100%;
	height: 300px;
	
}
.zprava .nazev {
	margin-top: 5%;
	padding-bottom: 5%;
	font-weight: bold;
	font-family: Inter, "Helvetica Neue",Helvetica,Arial,Verdana,sans-serif; 
	overflow-wrap: break-word;
}
/* JOBS TABLE */
.jobs_tabule {
	min-height: auto;
	background-color: white;
	display: flex;
	flex-direction: column;
	margin: 0 25% 5% 1.4%;
	list-style: none;
	box-shadow: 1px 1px 3px 1px  rgb(139, 139, 139);
}
.emptyJobs{
	background-color: white;
	display: flex;
	margin: 0 25% 5% 1.4%;
	box-shadow: 1px 1px 3px 1px  rgb(139, 139, 139);
	height: 25.5%;
	justify-content: center;
	align-items: center;
}
.inzerat{
	border-bottom: 2px solid rgb(223, 216, 216);
	width: 100%;
	height: 100%;
	transition: all 0.3s ease 0s;
}
	
.dot {
	height: 25px;
	width: 25px;
	background-color: #FF592A;
	border-radius: 50%;
	display: flex;
	margin:  15px 0 0 0;
}
.dotNav {
	height: 19px;
	width: 19px;
	background-color: #FF592A;
	border-radius: 50%;
	display: flex;
}

.jobs_tabule a {
	width: 100%;
	height: 100%;
}

.post {
	margin: 8px 15px 20px 0;
}

.post .position {
	font-size: 20px;
	font-weight: bolder;
	font-family: Inter, "Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
	color: black;
	text-decoration: underline;
	text-decoration-color: #FF592A;
	margin-top: 1.5%;
	margin-left: 0.5%;
}

.meta { 
	margin: 0 0 0 2.4%;
}

.post .company {
	margin: 0 0 0 2.4%;
	color: rgb(0, 0, 0);
}

.time {
	float: right;
	margin: 0 2% 10px 0;
}

.dotcomp {
	display: flex;
	margin-left: 0.5%;
	align-items: center;
	
}

.inzerat:hover {
	border: 2px solid #FF592A;
}
/* PAGINACE  */
.pagenavi {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 5%;
}

.pagenavi_block{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	font-size: 28px;
	font-family: Inter, "Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
	box-shadow: 1px 1px 3px 1px  rgb(139, 139, 139);
}
.pagebtn{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 43px;
	height: 43px;
	font-weight: 600;
	transition: all 0.3s ease 0s;
	
}
.active {
	background-color: #FF592A;
	color: white;
	width: 43px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 43px;

}

.active:hover {
	background-color: white;
	color: #FF592A;
	border: 2px solid #FF592A;
}
.pagebtn:hover {
	background-color: #FF592A;
	color: white;
}

/* BLOG.PHP STYLE */
.blogNapdis {
    text-align: center;
    margin: 20px;
    height: 40px;
    width: 97%;
    background-color: #FF592A;
    color: white;
    box-shadow: 1px 1px 1px 1px  rgb(0, 0, 0);
    border-radius: 15px;
}
.newsBlog{
	list-style: none;
	display: flex;
    flex-direction: row;
	font-family: Inter, "Helvetica Neue",Helvetica,Arial,Verdana,sans-serif; ;
    flex-wrap: wrap;
	justify-content: space-around;
	margin-bottom: 10%;
}

.imgBlog {
    border: 2px solid black;
    margin: 20px 0px 10px 23px;
	border-radius: 10%;
	width: 354px; 
	height: 300px;
}
.newsBlog .postBlog {
    width: 400px;  
    background-color: white;
	margin: 3% 0 0 0;
	height: 420px;
    box-shadow: 1px 1px 3px 1px  rgb(139, 139, 139);
	border-radius: 8%;
}

.nameBlog {
    width: 350px;
    margin: 0  0px 0px 20px;
	font-weight: bold;
	text-align: justify;
    font-family: Inter, "Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
	margin-bottom: 5%;
	overflow-wrap: break-word;
}

/* NEWS.PHP STYLE */

.novost {
    background-color: white;
    min-height: auto;
	box-shadow: 1px 1px 3px 1px  rgb(139, 139, 139);
	margin: 4%;
	font-family: Inter, "Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
    
}
.namenovosti {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
	border-bottom: 2px solid #FF592A;
	position: relative;
	padding-top: 5%;
}
.novost .dateNews {
	position: absolute;
	bottom: 0;
	right: 0;
	padding-bottom: 5%;
}

.textnovosti {
	margin: 5% 5% 5% 5%;
	position:relative;
	padding-bottom: 10%;
	font-size: 20px;
	overflow-wrap: break-word;
}

/* LOGIN.PHP REGISTRATION.PHP STYLE */
.container{
	width: 1200px;
	height: 630px;
	display: flex;
	margin: auto;
	margin-top: 7%;
	margin-bottom: 12%;
	background-color: white;
	box-shadow: 1px 1px 3px 1px  rgb(139, 139, 139);
}

.inputLogin{
	width: 100%;
	margin: 5px;
	margin-left: 10%;
	display: flex;
	flex-direction: column;
	margin-top: 2%;

}

.success{
	border: 2px solid #2ECC71;
	padding: 12px;
	width: 90%;
	outline: none;
	font-size: 17px;
	margin-bottom: 5px;
}
.successRegister{
	margin-top: 0;
	width: 100%;
	background-color: #189200;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.hiddenRegister{
	margin-top: 0;
	width: 100%;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.successRegister p{
	font-size: 19px;
	font-weight: bolder;
}
.invis{
	color: #ff3a3a;
	font-weight: 550;
	height: 16px;
}

.fail{
	border: 2px solid #ff3a3a;
	padding: 12px;
	width: 90%;
	outline: none;
	font-size: 17px;
	margin-bottom: 5px;
}
.inputBtn {
	width: 100%;
	margin-left: 60%;
	margin-top: 5%;
	margin-bottom: 5%;
}

.failMsg{
	color: #ff3a3a;
	font-weight: 550;
}

.btnbox{
	width: 100%;
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.knopki{
	display: flex;
	width: 70%;
	height: 50px;
	align-items: center;
	background-color: white;
	border: 2px solid #FF592A;
}
.actual{
	background-color: #FF592A;
	font-size: 20px;
	color: white;
	font-weight: bold;
	font-family: Inter, "Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
	width: 50%;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.actual:hover{
	background-color: #ffffff;
	color: #FF592A;
	border: 2px solid #FF592A;
}
.loginlink {
	font-size: 20px;
	color: black;
	font-family: Inter, "Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
	width: 50%;
	color: #FF592A;
	font-weight: bold;
	text-align: center;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.loginlink:hover {
	background-color: #FF592A;
	color: white;
	border: 2px solid #FF592A;

}

.loginForm{
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 60px;
}
.regForm{
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 60px;
}
label{
	display: block;
	width: 100%;
	font-weight: bold;
}
.imgbox{
	padding: 12px;
	width: 40%;
	outline: none;
	font-size: 17px;
	margin-bottom: 5px;
}
.box{
	padding: 12px;
	width: 90%;
	outline: none;
	font-size: 17px;
	margin-bottom: 5px;
}
.boxSubmit{
	width: 40%;
	padding: 12px;
	outline: none;
	color:#FF592A;
	border: 2px solid #FF592A;
	background-color: #ffffff;
	font-weight: bold;
	height: 50px;
	font-size: 20px;
}
.boxSubmit:hover{
	background-color: #FF592A;
	color: white;
	border: 2px solid #FF592A;
}
input::placeholder{
	text-align: center;
}

/* POST A JOB STYLE */
.jobsNapdis {
	display: flex;
	margin: auto;
	margin-top: 6%;
    justify-content: center;
	align-items: center;
    height: 50px;
    width: 1000px;
    background-color: #FF592A;
    color: white;
    box-shadow: 1px 1px 1px 1px  rgb(0, 0, 0);
}

.containerJobs{
	width: 1000px;
	min-height: min-content;
	display: flex;
	margin: auto;
	margin-bottom: 12%;
	background-color: white;
	box-shadow: 1px 1px 3px 1px  rgb(139, 139, 139);
}

.formjobs{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 60px;
}

.inputJobs{
	width: 100%;
	margin: 15.5px;
	margin-left: 10%;
	display: flex;
	flex-direction: column;
}
.lght{
	font-weight: lighter;
}
.successText{
	min-height: 150px;
	width: 90%;
	padding: 10px;
	font-size:17px;
	border: 2px solid #2ECC71;
	display:block;
	resize: vertical;
}
.failText{
	min-height: 150px;
	width: 90%;
	padding: 10px;
	font-size:17px;
	border: 2px solid #ff3a3a;
	display:block;
	resize: vertical;

}
.failText::placeholder{
	text-align: center;
	padding: 5%;
}
.boxSubmitJobs{
	width: 40%;
	padding: 12px;
	outline: none;
	color:#FF592A;
	border: 2px solid #FF592A;
	background-color: #ffffff;
	font-weight: bold;
	height: 50px;
	font-size: 20px;
}
.boxSubmitJobs:hover{
	background-color: #FF592A;
	color: white;
	border: 2px solid #FF592A;
}
.boxText{
	min-height: 150px;
	width: 90%;
	padding: 10px;
	font-size:17px;
	outline: none;
	display:block;
	resize: vertical;

}
.boxText::placeholder{
	text-align: center;
	padding: 5%;
}
.count{
	width: 100%;
	margin-left: 8%;
	font-weight: bold;
}
.chybaJobs{
	color: #ff3a3a;
	font-weight: 550;
	font-size: 15px;
}
.invisJobs{
	visibility: hidden;
	font-size: 15px;
}
#num{
	color: #FF592A;
	font-size: 20px;
}

/* POST THE NEWS STYLE */
.newsNapdis {
	display: flex;
	margin: auto;
	margin-top: 6%;
    justify-content: center;
	align-items: center;
    height: 50px;
    width: 1000px;
    background-color: #FF592A;
    color: white;
    box-shadow: 1px 1px 1px 1px  rgb(0, 0, 0);
}

.containernews{
	width: 1000px;
	min-height: min-content;
	display: flex;
	margin: auto;
	margin-bottom: 12%;
	background-color: white;
	box-shadow: 1px 1px 3px 1px  rgb(139, 139, 139);
}

.formnews{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 60px;
}

.inputnews{
	width: 100%;
	margin: 15.5px;
	margin-left: 10%;
	display: flex;
	flex-direction: column;
}
.lght{
	font-weight: lighter;
}

.boxSubmitnews{
	width: 40%;
	padding: 12px;
	outline: none;
	color:#FF592A;
	border: 2px solid #FF592A;
	background-color: #ffffff;
	font-weight: bold;
	height: 50px;
	font-size: 20px;
}
.boxSubmitnews:hover{
	background-color: #FF592A;
	color: white;
	border: 2px solid #FF592A;
}
.boxText{
	min-height: 150px;
	width: 90%;
	padding: 10px;
	font-size:17px;
	outline: none;
	display:block;
	resize: vertical;

}
::-webkit-file-upload-button {
	cursor: pointer;
	background: white;
	color: #FF592A;
	padding: 12px;
	border: 2px solid #FF592A;
	font-weight: bolder;
	margin-left: -1%;
}
::-webkit-file-upload-button:hover {
	color: white;
	background-color: #FF592A;

}

.boxText::placeholder{
	text-align: center;
	padding: 5%;
}
.count{
	width: 100%;
	margin-left: 8%;
	font-weight: bold;
}

#num{
	color: #FF592A;
	font-size: 20px;
}

/* AD STYLE*/
.lola{
	display: flex;
	flex-direction: row;
}

.inzerat_jobs {
    position: relative;
    background-color: white;
    min-height: auto;
	box-shadow: 1px 1px 3px 1px  rgb(139, 139, 139);
	margin: 5% 0 10% 1.2%;
	font-family: Inter, "Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
    flex-basis: 80%;
	order: 1;
	max-width: 80%;
}
.inzerat_jobs .position {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
	border-bottom: 2px solid #FF592A;
	position: relative;
	padding-top: 5%;
}
.inzerat_jobs .time {
	position: absolute;
	top: 2%;
	right: 2%;
	padding-bottom: 5%;
    font-size: 20px;
}

.geo  .company, .geo .city ,.geo .involvement {
    padding-bottom: 2%;
	margin-top: 1.3%;
	padding-left: 1%;
	width: 20%;
}

.dot {
	height: 25px;
	width: 25px;
	background-color: #FF592A;
	border-radius: 50%;
	display: flex;
	margin:  15px 0 0 0;
}


.geo {
    margin-left: 5%;
    margin-top: 3%;;
    font-size: 20px;
    font-weight: bold;
	display: flex;
	flex-direction: column;
}

.geodot {
	display: flex;	
	flex-direction: row;
}

.textinzerat {
	margin: 5% 5% 5% 5%;
	position: relative;
	padding-bottom: 10%;
    font-size: 20px;
	word-break: break-all;

}

aside {
	position: relative;
	margin: 5% 1.4% 0 1.4%;
	background-color: white;
	list-style: none;
	box-shadow: 1px 1px 3px 1px  rgb(139, 139, 139);
	order: 2;
	padding-bottom: 3%;
	height: max-content	;
	width: 20%;
}
.failAd {
	padding: 8px 10px 8px;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border: 2px solid #ff3a3a;
	width: 95%;
	margin-top: 2%;
	margin-left: 2%;
	list-style: none;
	outline: none;
	text-align: center;
}

.successAd {
	padding: 8px 10px 8px;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border: 2px solid #2ECC71;
	width: 95%;
	margin-top: 2%;
	margin-left: 2%;
	margin-bottom: 2%;
	list-style: none;
	outline: none;
	text-align: center;
}

.applynow1 label {
	margin-left: 5%;
	margin-top: 5%;
	margin-bottom: 5%;
}

.inputy {
	padding: 8px 10px 8px;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #FF592A;
	width: 95%;
	margin-top: 2%;
	margin-left: 2%;
	list-style: none;
	outline: none;
	text-align: center;
}
.ad{
	margin-top: 5%;
	font-size: 15px;
	margin-left: 5%;
	color: #ff3a3a;
	font-weight: bold;
	height: 10px;


}

.adError{
	margin-top: 5%;
	font-size: 15px;
	margin-left: 5%;
	color: #ff3a3a;
	font-weight: bold;

}
.applynow1 {
	list-style: none;
	display: flex;
	flex-direction: column;
}


input::placeholder {
    text-align: center;
	font-size: 15px;
}

.submitapply {
	border: 2px solid #FF592A;
	color: #FF592A;
	background-color: white;
	padding: 5px 25px;
	border-radius: 10px/10px;	
	cursor: pointer;
	font-size: 15px;
	font-weight: bold;
	font-family: Inter, "Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
	transition: all 0.3s ease 0s;
	width: 95%;
	margin-left: 2%;
}

#applynow2 {
	font-size: 20px;
	font-family: Inter, "Helvetica Neue",Helvetica,Arial,Verdana,sans-serif; ;
	font-weight: bolder;
	text-align: center;
	margin-top: 8%;
	margin-bottom: 20px;
	width: 100%;
	border-bottom: 2px solid #FF592A;
	color: black;
}

.submitapply:hover {
	background-color: #FF592A;
    color: white;
}


input::placeholder {
    text-align: center;
	font-size: 15px;
}

.submitapply {
	border: 2px solid #FF592A;
	color: #FF592A;
	background-color: white;
	padding: 5px 25px;
	border-radius: 10px/10px;	
	cursor: pointer;
	font-size: 15px;
	font-weight: bold;
	font-family: Inter, "Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
	transition: all 0.3s ease 0s;
	width: 95%;
	margin-left: 2%;
	margin-top: 12%;
}

#applynow2 {
	font-size: 20px;
	font-family: Inter, "Helvetica Neue",Helvetica,Arial,Verdana,sans-serif; ;
	font-weight: bolder;
	text-align: center;
	margin-top: 8%;
	margin-bottom: 20px;
	width: 100%;
	border-bottom: 2px solid #FF592A;
	color: black;
}

.submitapply:hover {
	background-color: #FF592A;
    color: white;
}

/* ABOUT */
.workeuro{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: white;
}

.tableabout{
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.textabout{
	color:black;
	font-size: 25px;
	margin-bottom: 5%;
	font-weight: 300;

}
.about{
	text-align: center;
	width: 70%;
	margin-bottom: 8%;
}
.nadpisabout{
	margin-bottom: 3%;
	margin-top: 8%;
}
.linkabout{
	border: 3px solid #FF592A;
	color: #FF592A;
	font-size: 22px;
	font-weight: bold;
	padding: 14px;
	border-radius: 30px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	
}
.linkabout:hover{
	color: white;
	background-color: #FF592A;
}

/* FAQ */
.faqtable{
	display: flex;
	flex-direction: column;
	background-color: #ffffff;
	justify-content: center;
	align-items: center;
	padding-bottom: 15%;
}
.faqtable img{
	width: 100%;
}

.faqtext{
	color:black;
	font-size: 25px;
	margin-bottom: 2%;
	font-weight: 300;
	width: 80%;
	text-align: center;

}

.faqtd{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

ol li{
	font-size: 25px;
	margin-bottom: 2%;
	text-align: center;
	
}

ol{
	width: 60%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.afaq{
	font-size: 25px;
	font-weight: bolder;
	color: #FF592A;
}
.afaq:hover{
	color: grey;
}
.faqnadpis{
	margin-top: 8%;
}
.faqp{
	color: #FF592A;
	font-weight: bold;
}
.faqtable img{
	margin-top: 2%;
	margin-bottom: 2%;
}
.bannerfaq{
	width: 100%;
}